* {
    margin: 0;
    padding: 0px;
}

nav {
    width: 100vw;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.4);
    text-align: end;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    margin: 0px;
    height: 10vh;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    position: fixed;
}

a {
    position: relative;
    margin: 6vh;
    right: 5px;
    text-size-adjust: auto;
    font-weight: bold;
    color: white;
    font-size: larger;
    position: relative;
    top: 15px;
    text-decoration-color: rgba(0, 0, 0, 0.4);
    font-family: Arial, Helvetica, sans-serif;
}

nav img {
    height: 9vh;
    width: 2vw;
    display: flex;
    justify-content: flex-start;
    position: absolute;
    top: 0px;
    left: 2vw;
}

body{
    background-image: url("bg-image.jpg");
    background-size: 100vw 400vh;
    background-repeat: no-repeat;
}

.h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7vw;
    font-weight: 900;
    position: relative;
    top: 20vh;
    left: 6vw;
}

.h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7vw;
    font-weight: 900;
    position: relative;
    top: 20vh;
    left: 6vw;
    display: inline;
}

.h3 {
    font-family: cursive;
    display: inline;
    font-size: 7vw;
    font-weight: 900;
    position: relative; 
    top: 20vh;
    left: 6vw;
    color: red;
}

.box {
    background-color: black;
    border: 2px solid white;
    width: 42vw;
    height: 90vh;
    border-radius: 5vw;
    position: relative;
    left: 55vw;
    bottom: 20vh;
    box-shadow: 1px 1px 20px 5px white;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-size: 4vw;
    font-weight: bold;
    position: relative;
    top: 3vh;
    text-shadow: 4px 4px 2px rgb(48, 89, 225);
}

form div input {
    position: relative;
    top: 5vh;
    left: 2.5vw;
    width: 35vw;
    height: 7vh;
    margin: 3vh;
    border-radius: 1.5vh;
    font-size: 2vw;
}
.input{
    z-index: 1000;
}

.submit {
    color: blue;
    z-index: 1000;
}

.h11 {
    color: white;
    position: relative;
    top: 65vh;
    left: 32vw;
    font-size: 5vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

.box2{
    position: relative;
    right: 53vw;
    bottom: 48vh;
    width: 90vw;
    height: 90vh;
}
.box2 p{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 67vh;
    left: 2vw;
    font-size: 6vh;
    backdrop-filter: blur(5px);
}

.box3{
    position: relative;
    top: 60vh;
}
.logo {
    height: 18vh;
    width: 6vw;
    margin: 6vw;
    position: relative;
    top: 70vh;
    left: 5vw;
    border: 2px solid grey;
    background-color: grey;
}
.sixth {
    position: relative;
    left: 42vw;
    bottom: 100vh;
}
.logo:hover{
    filter: blur(5px);
}
footer h3{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    top: 100vh;
}
